a {
  color: #d4cb92;
}

table {
  width: 100%;
  margin: auto;
  table-layout: fixed;
  border-collapse: collapse;
}

table > thead {
  color: #80a4ed;
}

th {
  padding: 1em;
}

td {
  padding: 1em;
  word-wrap: break-word;
  vertical-align: baseline;
}

th:first-of-type {
  width: 2em;
}

td:first-of-type {
  width: 2em;
}

th:nth-of-type(3) {
  width: 8em;
}

td:nth-of-type(3) {
  width: 8em;
}

th:last-of-type {
  width: 8em;
}

th:last-of-type {
  width: 8em;
}

@media (max-width: 639px) {
  th {
    padding: 0px;
  }

  td:nth-of-type(3) {
    width: 8em;
  }

  th:last-of-type {
    width: 4em;
  }

  th:last-of-type {
    width: 4em;
  }
}

tr:hover td {
  background-color: #002b36;
}
