.gg-close-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 40px;
}
.gg-close-o::after,
.gg-close-o::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 3px;
}
.gg-close-o::after {
  transform: rotate(-45deg);
}
.gg-add {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 22px;
}
.gg-add::after,
.gg-add::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}
.gg-add::after {
  width: 2px;
  height: 10px;
  top: 4px;
  left: 8px;
}
.gg-folder-add {
  background: linear-gradient(to left, currentColor 10px, transparent 0)
    no-repeat center center/2px 6px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 16px;
  border: 2px solid;
  border-radius: 3px;
}
.gg-folder-add::after,
.gg-folder-add::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-folder-add::before {
  background: currentColor;
  left: 6px;
  width: 6px;
  height: 2px;
  top: 5px;
}
.gg-folder-add::after {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  top: -5px;
}
.gg-file-add {
  background: linear-gradient(to bottom, currentColor 5px, transparent 0)
    no-repeat 2px 9px/6px 2px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 16px;
  border: 2px solid transparent;
  border-right: 0;
  border-top: 0;
  box-shadow: 0 0 0 2px;
  border-radius: 1px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.gg-file-add::after,
.gg-file-add::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  height: 6px;
}
.gg-file-add::before {
  background: currentColor;
  left: 4px;
  width: 2px;
  top: 7px;
}
.gg-file-add::after {
  width: 6px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  right: -1px;
  top: -1px;
}
.gg-software-upload {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 6px;
  border: 2px solid;
  border-top: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: 8px;
}
.gg-software-upload::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 2px solid;
  border-top: 2px solid;
  transform: rotate(45deg);
  left: 2px;
  bottom: 4px;
}
.gg-software-upload::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 10px;
  background: currentColor;
  left: 5px;
  bottom: 3px;
}
.gg-copy {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 18px;
  border: 2px solid;
  margin-left: -5px;
  margin-top: -4px;
}
.gg-copy::after,
.gg-copy::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-copy::before {
  background:
    linear-gradient(to left, currentColor 5px, transparent 0) no-repeat right
      top/5px 2px,
    linear-gradient(to left, currentColor 5px, transparent 0) no-repeat left
      bottom/ 2px 5px;
  box-shadow: inset -4px -4px 0 -2px;
  bottom: -6px;
  right: -6px;
  width: 14px;
  height: 18px;
}
.gg-copy::after {
  width: 6px;
  height: 2px;
  background: currentColor;
  left: 2px;
  top: 2px;
  box-shadow:
    0 4px 0,
    0 8px 0;
}
.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}
.gg-close::after {
  transform: rotate(-45deg);
}
.gg-remove {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 22px;
}
.gg-remove::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}
.gg-arrow-down-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 20px;
}
.gg-arrow-down-o::after,
.gg-arrow-down-o::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 4px;
}
.gg-arrow-down-o::after {
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
  left: 6px;
}
.gg-arrow-down-o::before {
  width: 2px;
  height: 10px;
  left: 8px;
  background: currentColor;
}
.gg-rename {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 16px;
  transform: scale(var(--ggs, 1));
  background: linear-gradient(to left, currentColor 22px, transparent 0)
    no-repeat 6px center/2px 22px;
}
.gg-rename::after,
.gg-rename::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 12px;
  border: 2px solid;
  top: 2px;
}
.gg-rename::before {
  border-right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.gg-rename::after {
  width: 10px;
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  right: 0;
}
.gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
}
.gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px;
}
.gg-folder {
  transform: scale(var(--ggs, 1));
}
.gg-folder,
.gg-folder::after {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 16px;
  border: 2px solid;
  border-radius: 3px;
}
.gg-folder::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 4px;
  border-bottom: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  top: -5px;
}
.gg-file {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 16px;
  border: 2px solid transparent;
  border-right: 0;
  border-top: 0;
  box-shadow: 0 0 0 2px;
  border-radius: 1px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.gg-file::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  right: -1px;
  top: -1px;
}
.gg-user {
  display: block;
  transform: scale(var(--ggs, 1));
  box-sizing: border-box;
  width: 12px;
  height: 18px;
}
.gg-user::after,
.gg-user::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid;
}
.gg-user::before {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  top: 0;
  left: 2px;
}
.gg-user::after {
  width: 12px;
  height: 9px;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: 9px;
}
.gg-key {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 6px;
  height: 8px;
  border: 2px solid;
  border-radius: 100px;
  margin-left: -12px;
}
.gg-key::after,
.gg-key::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: -12px;
}
.gg-key::before {
  background: currentColor;
  width: 12px;
  height: 2px;
  top: 1px;
}
.gg-key::after {
  width: 5px;
  height: 3px;
  top: 2px;
  border-left: 2px solid;
  border-right: 2px solid;
}
.gg-chevron-up {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-up::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  bottom: 2px;
}
.gg-chevron-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px;
}

.gg-menu {
  transform: scale(var(--ggs, 1));
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor;
}
.gg-menu::after,
.gg-menu::before {
  content: "";
  position: absolute;
  top: -6px;
}
.gg-menu::after {
  top: 6px;
}


.gg-more-vertical-alt {
  transform: scale(var(--ggs, 1));
}
.gg-more-vertical-alt,
.gg-more-vertical-alt::after,
.gg-more-vertical-alt::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 4px;
  height: 4px;
  background: currentColor;
  border-radius: 100%;
}
.gg-more-vertical-alt::after,
.gg-more-vertical-alt::before {
  content: "";
  position: absolute;
}
.gg-more-vertical-alt::after {
  left: 0;
  top: 6px;
}
.gg-more-vertical-alt::before {
  top: -6px;
  right: 0;
}
