.menu:hover {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  background-color: #001d24;
  min-width: 8em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5em;
}

.dropdown-content li {
  padding: 1em 1.5em;
  text-decoration: none;
  display: block;
}

@media (min-width: 639px) {
  .dropdown-content {
    transform: translateX(-4em);
  }
}
