.renameInput {
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.submit {
  border: none;
  color: #002b36;
  background-color: #d4cb92;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin-left: 1em;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ff6b6c;
  color: #073642;
  border-radius: 3px;
  margin-top: 1em;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  background-color: #ff6b6c;
  color: #073642;
  padding: 1em;
}

.input {
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.delete-submit {
  border: none;
  background-color: #ff6b6c;
  color: #073642;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin-left: 1em;
}

.cancel {
  border: none;
  color: #002b36;
  background-color: #d4cb92;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin-left: 1em;
}

.actions-menu:hover {
  cursor: pointer;
}

.actions-dropdown-content {
  position: absolute;
  background-color: #001d24;
  min-width: 8em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5em;
  right: 0;
  left: auto;
  max-width: 70%;
}

.actions-dropdown-content li {
  padding: 1em 1.5em;
  text-decoration: none;
  display: block;
}
